<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="QueuePath" value=".\Private$\ProductQueue" />
		<add key="ConnectionString" value="data source=LOORJACOBSON;initial catalog=deruzims;persist security info=True;user id=sa;password=.inhotesT1234." />
	</appSettings>
</configuration>